<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='' method="post">
        {% csrf_token %}
        <div style="text-align: center; margin:auto">
            <h1>Cadastro</h1>
            <div style="display: flex; gap: 30px; flex-direction: column; align-items: center;">
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div>
                    <label for="idade">Idade:</label>
                    <input type="number" name="idade" id="idade">
                </div>
                <button type="submit">Enviar Formulário</button>
            </div>
        </div>
    </form>
</body>
</html>